<h1> Hello <%= @user.first_name%>! </h1>
<br>
<h5>Your Contact Information</h5>
<br>
First Name: <%=@user.first_name%><br>
Last Name: <%=@user.last_name%><br>
Email: <%=@user.email%><br>
<!-- Password:<!-- <%=@user.password_digest%>--> 
<br>
<br>
<a href="/user/<%=@user.id%>/edit"><input type="button" name="edit_user" value="Edit Info"></a>
