<h2> Edit Your Contact</h2><br>
<h8> A contact must have either a first and/or last name, as well as a phone number.</h8><br>
<br>
<form action="/contacts/<%=@contact.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="first_name">First Name</label>
  <input type="text" id="first_name" name="first_name" value=" <%=@contact.first_name %> " > <br>
  <label for="last_name">Last Name</label>
  <input type="text" id="last_name" name="last_name" value=" <%=@contact.last_name %> "><br>
  <label for="mailing_address">Mailing Address</label>
  <input type="text" id="mailing_address" name="mailing_address" value=" <%=@contact.mailing_address %> "><br>
  <label for="phone">Phone</label>
  <input type="text" id="phone" name="phone" value=" <%=@contact.phone %> "><br>
  <label for="birthday">Birthday</label>
  <input type="text" id="birthday" name="birthday" value=" <%=@contact.birthday %> "><br>
  <input type="submit" id="submit">
</form>
